
.icon-posts:before { content: '\e800'; } /* '' */
.icon-books:before { content: '\e801'; } /* '' */
.icon-email:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */
.icon-articles:before { content: '\f0c5'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-presentations:before { content: '\f108'; } /* '' */
.icon-youtube:before { content: '\f16a'; } /* '' */
.icon-stackoverflow:before { content: '\f16c'; } /* '' */
.icon-hackernews:before { content: '\f1d4'; } /* '' */
.icon-reddit:before { content: '\f281'; } /* '' */
.icon-facebook:before { content: '\f308'; } /* '' */
