.nav {
  &__list {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    > * + * {
      margin-left: get-size(500);
    }
  }

  &__item {
    padding: get-size(300) 0;
    flex-shrink: 0;

    a {
      color: currentColor;

      @include apply-utility('weight', 'mid');

      &:not(:hover) {
        text-decoration: none;
      }
    }
  }
}

.nav__item {
  padding: .1rem 0;
}
.nav__item a {
  text-decoration: none;
}
.nav__item a:hover span{
  text-decoration: underline;
}
.header .nav .nav__list {
  margin-bottom: -1.6rem;
}
