{% if navigation.items %}
  <nav class="nav">
    <ul class="[ nav__list ] [ box-flex align-center md:space-before ]">
      {% for item in navigation.items %}
        {% set relAttribute = '' %}
        {% set currentAttribute = '' %}

        {% if item.rel %}
          {% set relAttribute = ' rel="' + item.rel + '"' %}
        {% endif %}

        {% if page.url == item.url %}
          {% set currentAttribute = ' aria-current="page"' %}
        {% endif %}

        <li class="nav__item">
          <a href="{{ item.url }}" class="" title="{{ item.desc }}"{{ relAttribute | safe }}{{ currentAttribute | safe }}>
            {% if item.icon %}
              <i class="demo-icon icon-{{ item.icon }}"></i>
            {% endif %}
            {% if item.text %}
              <span>{{ item.text }}</span>
            {% endif %}
          </a>
          {% if item.break %}
            </ul>
            <ul class="[ nav__list ] [ box-flex align-center md:space-before ]">
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}
