<form
  class="staticman-comments-form"
  method="POST"
  action="https://api.staticman.net/v3/entry/github/{{ site.staticmanGithubFormPath }}">
  <input name="options[slug]" type="hidden" value="{{ page | slugForStaticman }}">
  <input name="options[redirect]" type="hidden" value="{{ site.url }}{{ page.url }}">
  <input name="options[origin]" type="hidden" value="{{ site.url }}">
  <label><input name="fields[name]" type="text" placeholder="name"></label>
  <label><input name="fields[email]" type="email" placeholder="email"></label>
  <label><textarea name="fields[message]"></textarea></label>
  <button type="submit">Comment</button>
</form>
<div
  class="staticman-comments-render">
  {% set comments = collections.comments | staticmanCollection(page) %}
  {% if comments.length %}
    <span class="staticman-comments-count">Comments: {{ comments.length }}</span>
    <ul>
    {% for comment in comments %}
      <li class="staticman-comments-list">
        <span class="staticman-comment-name">{{comment.name}}:</span>
        <span class="staticman-comment-message">{{comment.message}}</span>
        <span class="staticman-comment-data">{{comment.date}}</span>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
</div>
