<form id="quick-search" action="/search/" method="GET">
  <div>
    <input type="text" id="q" name="q" value="" placeholder="🔍…">
    <input type="hidden" id="from" name="from" value="{{ page.url }}">
  </div>
</form>
