
<div class="[ nav ] [ box-flex align-center ] tags">
  <h2 class="font-base text-600 weight-mid">Filed under</h2>
  <ul class="[ nav__list ] [ box-flex align-center pad-left-400 ] [ p-category ]">
    {% for item in tags %}
      <li class="nav__item">
        <a href="/tags/{{ item }}">{{ item }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
