<!-- ADD YOUR THIRD PARTY COMMENTS CODE HERE -->
<script src="https://utteranc.es/client.js"
  repo="bguiz/blog-bguiz"
  issue-term="pathname"
  label="utterances"
  theme="github-dark"
  crossorigin="anonymous"
  async>
</script>
